.classes {
background-color: rgb(224, 146, 43);
}

p {
    color: blue
}

.char_sheet{
    background: linear-gradient(to right, burlywood, blue);
} 

.sett_sheet {
    background-color: #858585;
    color: greenyellow
}

.sett_test {
    background-color: darkgray;
    color: blue;
    border: greenyellow dashed 2px
}

.sett_h2 {
  border-color: greenyellow;
    border-style: solid;
    padding: 15px;
    Padding-top: 3px

}