body {
background-color: rgb(42, 15, 214);
color: greenyellow
}


.results {
width: 100%;
padding: 10px;
text-align: center;
background-color: grey;
}

.results {
margin: 5px;;
border: 5px;
border-style: dashed;
}